<div *ngIf="!showTransactionDetailComponent" class="bg-warning bg-opacity-25 text-center m-5 p-4 d-flex justify-content-center">
  <div>
    <select id="selector" [(ngModel)]="selectedValue">
      <option value="">All</option>
      <option *ngFor="let item of transactions" [value]="item.id.toString()">{{ item.id }}</option>
    </select>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of filterTable()" (click)="showTransactionDetail(transaction.id)">
          <td class="p-3">{{ transaction.id }}</td>
          <td class="p-3">{{ transaction.date }}</td>
          <td class="p-3">{{ transaction.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>